{% extends 'templates/dash.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h1 mt-4 mb-0">City information</h1>
    <a href="#" class="btn btn-primary btn-icon-split ml-3"><span class="icon text-white-50"><i class="fas fa-download"></i></span><span class="text">Generate Report</span></a>
</div>

<div class="d-flex justify-content-end mb-4">
    <a href="edit/" class="btn btn-info btn-icon-split ms-3"><span class="icon text-white-50"><i class="fas fa-pencil-alt"></i></span><span class="text">Edit order</span></a>
    <a href="delete/" class="btn btn-danger btn-icon-split ms-4"><span class="icon text-white-50"><i class="fas fa-trash"></i></span><span class="text">Delete order</span></a>
</div>


{% endblock %}


{% load static %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

