{% extends 'templates/dash.html' %}
{% block content %}


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h1 mt-4 mb-0">Customers</h1>
    <a href="{% url 'dash-new-customer' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> New customer</a>
</div>

<!-- Customers Table -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
         <i class="fas fa-table me-1"></i>
         Customers
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="datatablesSimple" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>MC#</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>{{ customer }}</td>
                        <td>{{ customer.mc }}</td>
                        <td>{{ customer.full_address }}</td>
                        <td>61</td>
                        <td>
                            <a class='btn btn-info btn-sm' href="{% url 'dash-read-customer' customer.pk %}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% load static %}
{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}
