{% extends 'templates/new-form.html' %}
{% block newform %}
{% load crispy_forms_tags %}

<div class="card-header py-3">
    <h4>Document information</h4>
</div>

<div class="card-body">
    <form method='post' class='bootstrap4' enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="row">
        <div class="col">
			{{ form.name | as_crispy_field }}
        </div>
        <div class="col">
			{{ form.number | as_crispy_field }}
        </div>
        <div class="col">
			{{ form.detail | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col">
			{{ form.issue_date | as_crispy_field }}
        </div>
        <div class="col">
			{{ form.expiry_date | as_crispy_field }}
        </div>
        <div class="col">
			{{ form.issued_by | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col">
			{{ form.driver | as_crispy_field }}
        </div>
        <div class="col">
			{{ form.order | as_crispy_field }}
        </div>
        <div class="col">
			{{ form.broker | as_crispy_field }}
        </div>
      </div>

      {{ form.scanned_copy | as_crispy_field }}

      <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
    </form>
</div>

{% endblock %}


