{% extends 'templates/dash.html' %}
{% load static %}

{% block content %}
<h1 class="mt-4">Dashboard</h1>
<div class='row'>
    <!-- Area Chart -->
    <div class="col-xl-8">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->

            <div class="card-header py-3">
                 <i class="fas fa-chart-line me-1"></i>
                 Earnings history
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="earningsHistory" style='height:20rem'></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                 <i class="fas fa-chart-pie me-1"></i>
                 Earnings by driver
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie">
                    <canvas id="earningsByDriver" style='height:20rem'></canvas>
                </div>
            </div>
        </div>
    </div>
</div><!-- end row -->
<div class="row">
    <div class="col-xl-4">
        <div class="card shadow mb-4 h-100">
            <div class="card-header py-3">
                 <i class="fas fa-chart-pie me-1"></i>
                 Earnings by origin state
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-geo">
                    <div id="earningsByState"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card shadow mb-4 h-100">
            <div class="card-header py-3">
                 <i class="fas fa-bars-progress me-1"></i>
                 Milestones and progress
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h4 class="small font-weight-bold">Server Migration <span
                        class="float-right">20%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sales Tracking <span
                        class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Customer Database <span
                        class="float-right">60%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Payout Details <span
                        class="float-right">80%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Account Setup <span
                        class="float-right">Complete!</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>





</div><!-- end row -->

{% endblock %}


{% block scripts %}
<script src="{% static 'vendor/chartjs/Chart.min.js' %}"></script>
<script src="{% static 'vendor/googlecharts/loader.js' %}"></script>
<script>
    const myGross = [{% for i in earnings %}{{ i.gross }},{% endfor %}];
    const myDates = [{% for i in earnings %}"{{ i.payment_due }}",{% endfor %}];
    const driverGross = [{% for i in earnings_by_driver %}{{ i.gross }},{% endfor %}];
    const driverNames = [{% for i in earnings_by_driver %}"{{ i.driver__first_name }} {{ i.driver__last_name}}",{% endfor %}];
    const stateGross = [["State", "Earnings"],{% for i in earnings_by_state %}["{{ i.origin_state }}",{{ i.gross }}],{% endfor %}];
</script>
<script src="{% static 'js/chart-area.js' %}"></script>
<script src="{% static 'js/chart-pie.js' %}"></script>
<script src="{% static 'js/chart-geo.js' %}"></script>
{% endblock %}
