{% extends 'templates/dash.html' %}
{% block content %}
{% load crispy_forms_tags %}



<div class='row'>
<div class='col-xxl-6 mx-auto'>
<div class="card shadow my-4">

<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    Order information form
    <div class="dropdown no-arrow">
      <a class="text-decoration-none text-muted" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
  
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><h6 class="dropdown-header">Add missing fields:</h6></li>
        <li><a class="dropdown-item" href="{% url 'market-new-city' %}" data-bs-toggle="modal" data-bs-target="#cityModal">Add city</a></li>
        <li><a class="dropdown-item" href="{% url 'dash-new-equipment' %}">Add equipment</a></li>
        <li><a class="dropdown-item" href="#">Add shipper</a></li>
      </ul>
    </div>

</div>

<div class="card-body">
    <form method='post' class='bootstrap4'>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
			{{ form.driver | as_crispy_field }}
        </div>
        <div class="col-md-6">
			{{ form.broker | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
			{{ form.shipper | as_crispy_field }}
        </div>
        <div class="col-md-6">
			{{ form.commodity | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
			{{ form.origin_address | as_crispy_field }}
        </div>
        <div class="col-md-5">
			{{ form.origin_city | as_crispy_field }}
        </div>
        <div class="col-md-2">
			{{ form.origin_zip_code | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
			{{ form.destination_address | as_crispy_field }}
        </div>
        <div class="col-md-5">
			{{ form.destination_city | as_crispy_field }}
        </div>
        <div class="col-md-2">
			{{ form.destination_zip_code | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
			{{ form.pickup_date | as_crispy_field }}
        </div>
        <div class="col-md-6">
			{{ form.delivery_date | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
			{{ form.truck | as_crispy_field }}
        </div>
        <div class="col-md-5">
			{{ form.trailer | as_crispy_field }}
        </div>
        <div class="col-md-2">
			{{ form.temperature | as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
			{{ form.load_type | as_crispy_field }}
        </div>
        <div class="col-md-6">
			{{ form.instructions | as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-3">
			{{ form.width | as_crispy_field }}
        </div>
        <div class="col-md-3">
			{{ form.height | as_crispy_field }}
        </div>
        <div class="col-md-3">
			{{ form.length | as_crispy_field }}
        </div>
        <div class="col-md-3">
			{{ form.weight | as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md">
			{{ form.mileage | as_crispy_field }}
        </div>
        <div class="col-md">
			{{ form.deadhead | as_crispy_field }}
        </div>
        <div class="col-md">
			{{ form.toll | as_crispy_field }}
        </div>
        <div class="col-md">
			{{ form.fuel_burnt | as_crispy_field }}
        </div>
        <div class="col-md">
			{{ form.fuel_price | as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-4">
			{{ form.gross | as_crispy_field }}

        </div>
        <div class="col-md-4">
			{{ form.payment_due | as_crispy_field }}
        </div>
        <div class="col-md-4">
			{{ form.g_rate | as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-2">
	  	    {{ form.completed | as_crispy_field }}
        </div>
        <div class="col-md-2">
		  	{{ form.paid | as_crispy_field }}
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
    </form>
</div>

</div> <!-- end card -->
</div> <!-- end col-mdumn -->
</div> <!-- end row -->




<!-- Modal -->
<div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cityModalLabel">Add city</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method='post' action="{% url 'market-new-city' %}">
        <div class="modal-body">
          {% csrf_token %}
          <div class="row">
            <div class="col-md">
	    		{{ city_form.name | as_crispy_field }}
            </div>
            <div class="col-md">
	    		{{ city_form.state | as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col-md">
	    		{{ city_form.market_area | as_crispy_field }}
            </div>
            <div class="col-md">
	    		{{ city_form.stat_area | as_crispy_field }}
            </div>
            <div class="col-md">
	    		{{ city_form.metro_area | as_crispy_field }}
            </div>
            <div class="col-md">
	    		{{ city_form.time_zone | as_crispy_field }}
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="prev" value="{% url 'dash-new-order' %}">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% load static %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}
