{% extends 'templates/dash.html' %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Orders</h1>
    <a href="/dash/orders/new/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> New order</a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Orders for {{userName}}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Driver</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Pick up date</th>
                        <th>Delivery date</th>
                        <th>Miles</th>
                        <th>Payment due</th>
                        <th>Gross</th>
                        <th>&gamma; rate</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.broker }}</td>
                        <td>{{ order.driver }}</td>
                        <td>{{order.origin_city}}, {{ order.origin_state }}</td>
                        <td>{{order.destination_city}}, {{ order.destination_state }}</td>
                        <td>{{ order.pickup_date | date:"n/j h:i" }}</td>
                        <td>{{ order.delivery_date | date:"n/j h:i"  }}</td>
                        <td>{{ order.mileage }}</td>
                        <td>{{ order.payment_due | date:"n/j" }}</td>
                        <td>{{ order.gross }}</td>
                        <td>{{ order.gRate }}</td>
                        <td>
                            <a class='btn btn-info btn-sm' href="/dash/orders/{{order.pk}}/">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% load static %}

{% block styles %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- Data tables plugins and scripts -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
